.food-display {
  padding: 50px 0;
  background-image: url("../images/loginback3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh; /* ensures it fills full height */
  width: 100%;
}
  
  .food-display-list {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .food-card {
    margin-bottom: 30px;
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .food-card:hover {
    transform: translateY(-5px);
  }
  
  .food-image {
    
    width: 100%;
    height: 130%;
  }
  
  .food-name {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .food-info {
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
  }
  
  .food-price {
    font-size: 16px;
    font-weight: bold;
  }
  
  .add-to-cart-btn {
    background-color: #ff6347;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    cursor: pointer;
  }
  
  .add-to-cart-btn:hover {
    background-color: #ff4500;
  }


