.orders-container {
  background-image: url("./images/loginback3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 92vh;
  width: 100vw;
    padding: 20px;
  }
  
  .order-card {
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .order-date {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .order-status {
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
  }
  
  .order-items, .order-total {
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .order-total {
    font-weight: bold;
  }
  
  .order-card .btn {
    background-color: #ff6347;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    cursor: pointer;
  }
  
  .order-card .btn:hover {
    background-color: #ff4500;
  }